.auth-controls {
  display: flex;
  gap: 25px;
}

.auth-controls__sign-up {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.auth-controls__sign-in {
  background-color: #2BE080;
  border: none;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .auth-controls {
    gap: 9px;
  }

  .auth-controls__sign-in {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }

  .auth-controls__sign-up {
    font-size: 10px;
  }
}