.section-title {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: clamp(1.125rem, 0.9464rem + 0.8929vw, 1.375rem);
  }
}

@media screen and (max-width: 567px) {
  .section-title {
    padding-bottom: 28px;
  }
}