.filter-checkbox {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 118px;
  width: 170px;
}

.filter-checkbox__text {
  font-size: 13px;
  line-height: 1.38;
}

.filter-checkbox__text:hover {
  opacity: 0.7;
}

.filter-checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.filter-checkbox__icon {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 14px;
}

.filter-checkbox__icon:hover {
  opacity: 0.7;
}

.filter-checkbox__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  width: 34px;
  height: 14px;
  border-radius: 18px;
  transition: background-color 0.3s;
}

.filter-checkbox__icon::after {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f5f5f5;
  left: 2px;
  top: 2px;
  transition: background-color 0.3s, right 0.3s;
}

.filter-checkbox__input:checked + .filter-checkbox__icon::before {
  background-color: #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__icon::after {
  background-color: #fff;
  right: 2px;
  left: unset;
}

@media screen and (max-width: 992px) {
  .filter-checkbox {
    gap: 16px;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 128px;
    margin-left: auto;
  }

  .filter-checkbox__icon {
    order: 2;
  }
}

@media screen and (max-width: 576px) {
  .filter-checkbox {
    justify-content: center;
    gap: 13px;
    margin: 0 auto 93px;
  }

  .filter-checkbox__text {
    gap: 13px;
    font-size: 11px;
  }
}
