.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__content {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.login__hello {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.login__logo {
  width: 38px;
  cursor: pointer;
}

.login__title {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin: 0 0 41px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__input {
  padding: 0 0 10px;
  border: 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}

.login__input:focus {
  outline: 1px solid #a0a0a0;
}

.login__input-label {
  font-size: 10px;
  line-height: 1.21;
  color: #a0a0a0;
  padding-bottom: 5px;
}

.login__input-error {
  font-size: 10px;
  font-weight: 400;
  color: #ff3055;
  line-height: 1.21;
  padding: 0 0 9px;
  height: 12px;
  
}

.login__action {
  margin-top: 200px;
}

.login__error {
  display: block;
  visibility: hidden;
  margin-bottom: 20px;
  font-size: 11px;
  color: #FF004C;
  text-align: center;
}

.login__error_active {
  visibility: visible;
}

.login__button {
  height: 45px;
  border-radius: 3px;
  border: none;
  background-color: #3456f3;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  cursor: pointer;
  padding: 0;
  width: 100%;
}

.login__button:hover {
  background-color: rgba(52, 86, 243, 0.8);
}

.login__button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.login__button_disabled:hover {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
}

.login__not-registred {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 1.21;
}

.login__not-registred-text {
  color: #a0a0a0;
  text-align: center;
  margin: 0;
}

.login__register-link {
  color: #3456f3;
  text-decoration: none;
}

.login__register-link:hover {
  color: rgba(52, 86, 243, 0.7);
}

@media screen and (max-width: 576px) {
  .login__content {
    width: 260px;
    height: 100vh;
  }

  .login__form {
    height: 100%;
  }

  .login__logo {
    margin: auto;
    padding-top: 56px;
  }

  .login__logo:hover {
    opacity: 0.8;
  }

  .login__hello {
    text-align: center;
    gap: 50px;
  }

  .login__title {
    margin-bottom: 80px;
  }

  .login__action {
    margin-top: auto;
  }

  .login__button {
    font-size: 12px;
    width: 100%;
    margin-top: 0;
  }

  .login__not-registred {
    margin: 14px 0 30px;
    font-size: 12px;
  }
}
